.banner{
top: 193px;
left: 0px;
width: 1921px;
height: 773px;
opacity: 1;
}

.banner-img{
top: -58.00001525878906px;
left: -502px;
width: 2422px;
height: 1615px;
background: transparent url('C:/xampp/htdocs/jio/src/img/20201219165445_IMG_4834.png') 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

.outter-box{
top: 193px;
left: 0px;
width: 1921px;
height: 773px;
opacity: 1;

}